body {
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}

h1 {
	text-decoration: underline;
	-webkit-text-decoration-color: red;
	text-decoration-color: #f9ca24;
	text-underline-position: under;
}

h2 {
	text-decoration: underline;
	-webkit-text-decoration-color: red;
	text-decoration-color: #f9ca24;
	text-underline-position: under;
}

.btn-cok {
	width: 35px;
    height: 35px;
    background: #eb4d4b;
    border-radius: 5px;
    padding: 6px;
    border: 1px solid white;
    display: none;
}
.btn-cok span {
	display: block;
	border: 1px solid white;
	margin-top: 4px;
}

.menu-mobile {
	width: 150px;
	margin-right: -250px;
	transition: all .3s;
	position:fixed;
	right: 0;
	top: 50px;
	padding-right:15px; 
	background: #f1f2f6;
	padding-top: 10px;
	padding-bottom: 10px;
	display: none;
	z-index: 2;
	overflow: scroll;
}



.menu-mobile a{
	color: black;
}


@media (max-width: 460px) {
	.navbar ul {
		display: none;
	}

	.btn-cok {
		display: block;
		
	}
	.mobile-responsive {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: flex-end;
		
	}

	.menu-mobile {
		display: block;
		height: 100%
	}

	.active-mobile {
		padding-top:60px;
		height: 100%;
		background: rgba(0,0,0,0.7);
		display: none;
	}

	.list {
		color: red;
	}

	.list a {
		color: red;
		font-size: 13px;
	}

	.nav-second {
		display: none;
	}

	.container-mobile {
		width: 100%;
	}

	#img-position {
		padding-top: 46px;
	}

	.img-artikel {
		width: 80%;
		padding:20px;
	}

	.body-barang {
		width: 415px;
	}

}

.toggle{
	margin-right: 0;
}


.navbar {
	width: 100%;
	height: 50px;
	color: white;
	position: fixed;
	z-index: 2;
}

.flex-container {
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
}

.navbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.navbar ul li {
	display: inline-block;
}

.navbar ul li a {
	padding:13px;
	color:white;

}

.navbar ul li a:hover {
	color:yellow;
	padding: 13px;
	text-decoration: none;
	width: auto;
}

.img-position {
	padding-top:70px;
}

.logo-brand {
	width: 100px;
}

.flex-container-second {
	display: flex;
	align-items: center;
	height: 100%;
}

.nav-second {
	position:fixed;
	top:50px;
	width: 100%;	
	background: #FFF200;
	height: 35px;
	box-shadow: 0px 0px 7px #222222;
	z-index: 1;
}


.nav-second ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-second ul li{
	display: inline-block;
	align-items: center;
	font-size: 13px;
}

.nav-second ul li a {
	padding-right: 10px;
	color: #222222
}

.nav-second ul li a:hover {
	text-decoration: none;
	color:red;
}

.dropdown {
	display: none;
	position:absolute;
	background: black;
	color: white;
	z-index: 1;
	height: auto;
}

.dropdown a {
	display: block;
	height: auto;
	padding:3px;
}

.list:hover .dropdown {
	padding-left:4px;
	padding-right:4px;
	display: block;
	height: auto;
	background: #f1f2f6;

}

.card-theme {
	position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #F1F1F1;
    background-clip: border-box;
    border: 1px solid black;
    border-radius: .25rem;
}

.font-white {
	color:white;
}

.service {
	width: 180px;
}


.text-product {
	width: 250px;
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fbc531;
	color:black;
	border-radius:10px;
	font-size: 23px;
}

.col-md-3 a{
	text-decoration: none;
}

.centered {
	display: block;
	text-align: -webkit-center;
}

.img-product {
  width: 250px;
  height: 250px;
  border: 1px solid #fbc531;
  border-radius:10px;
  position: absolute;
  transition: 0.5s;
  padding: 20px;
}

.img-product:hover {
	border-radius:10px;
	opacity: 0.2;
	transition: 0.5s;
}

.service-title {
	padding-top:10px;
	padding-bottom: 10px;
	color:#2f3640;
	font-style:oblique;
	text-decoration: underline;
	-webkit-text-decoration-color: red;
	text-decoration-color: #f9ca24;
	text-underline-position: under;

}

.product-name {
	margin-top: 5px;
	margin-bottom: 0;
	padding-bottom: 0;
	color:black;
	width: 100%;
	text-align: center
}

.product-name:hover {
	color: red;
} 

.kat-name {
	font-size: 15px;
	text-align: center;
}

.unggulan {
	text-align: center;
	font-size: 20px;
	font-style: italic;
}

.body-article {
	width: 100%;
	background-color: white;
	border-radius:5px;
	box-shadow: 0px 0px 2px #222222;
	padding: 8px;
	transition: 0.5s;
}

.body-article a:hover{
	text-decoration: none;
	color: #eb4d4b;
}

.body-article a:hover .judul-article{
	color: #fbc531;
	text-decoration: none;
}

.judul-article {
	padding-top: 9px;
	font-size: 20px;
	text-transform:capitalize;
	text-align: center;
	color: #222222 
}

.img-article {
  width: 335px;
  height: 180px;
  transition: 0.5s;
}

.body-article:hover {
	 -ms-transform: scale(1.04,1.04); /* IE 9 */
    -webkit-transform: scale(1.04,1.04); /* Safari */
    transform: scale(1.04,1.04); /* Standard syntax */
	transition: 0.5s;
}

.desc-article {
	padding-left: 5px;
	font-size: 13px;
}

.cabang {
	color:red;
}

.footer {
	width: 100%;
	text-align: center;
	padding:7px 0;
	font-size: 13px;
	color:black;
	padding-bottom: 16px;
}


.body-artikel {
	border-radius: 10px;
	box-shadow: 0px 0px 3px #222222;
	padding-top: 70px;
	text-align: center;
	background-color:white;
}

.img-artikel {
	width: 90%;
	height: 90%;
	padding: 20px;
}

.isi-artikel {
	text-align: left;
	padding: 35px;
}

.judul-barang{
	padding-bottom: 10px;
}

.img-barang {	
	border:1px solid #fbc531;
	border-radius: 10px;
}

.body-barang {
	border-radius: 10px;
	box-shadow: 0px 0px 3px #222222;
	padding-top: 85px;
	padding-left: 30px;
	padding-right: 30px;
}

.deskripsi-barang{
	font-size :18px;
	font-style: italic;
}

.keterangan-barang {
	font-size:12px;
	padding-top: 10px;
}

.keterangan-barang p {
	margin: 0;
	padding:0;
}

.not-active td a {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: #bfbfbf;

}



.contact-form .form-field {
  position: relative;
  margin: 40px 0;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #fbc531;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label, .contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
          transform: translateY(-24px);
}
.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #888;
  cursor: text;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}
.contact-form .submit-btn {
  background-color: #fbc531;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.note {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 21px;
}
.note .link {
  color: #888;
  text-decoration: none;
}
.note .link:hover {
  text-decoration: underline;
}

.hr-footer {
	display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    padding-top:2px;
}